#include COPYING.txt
include LICENSE.txt
recursive-include docs *.html *.css *.png *.gif
#include NEURON/*.mod
#include NEURON/*.hoc
#include GUI/*.png
#recursive-include NEURON *

# Include examples
recursive-include notebooks *.ipynb
