numpy
scipy
# matplotlib-base  # conda-forge only
matplotlib
# for latex labels
# cm-super
# underscore
# dvipng
# for matplotlib anim
ffmpeg
# lmfit
neuron
brian2
brian2tools
nose
pytest
seaborn
cython
pandas
sympy
jupyterlab
ipympl
# h5py
# numexpr
